@{
    ViewData["Title"] = $"Chat - {ViewBag.Team.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using RecTeam.Models
@model ChatMessage

<h1><a href="/Teams/Details/@ViewBag.Team.Id">@ViewBag.Team.Name</a></h1>
<hr />
<h4>@ViewBag.Team.Name Chat</h4>

<script>
    var interval = 0;
    var IntervalDelta = 15000;
    var SetIntervalLength = function(priorMessages, newMessages) {
        if (priorMessages === newMessages && interval < 300000)
        {
            console.log("no new messages");
            interval += IntervalDelta;
        }
        else
        {
            console.log("new messages");
            interval = IntervalDelta;
        }
    }

    var CheckMessages = function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMessages", new { id = ViewBag.Team.Id })',
            success: function (response) {
                var priorMessages = $("#message-window").children().count;
                $("#message-window").html(response);
                var newMessages = $("#message-window").children().count;
                //SetIntervalLength(priorMessages, newMessages);
                setTimeout(CheckMessages, interval);
            },
            error: function (response) {
                $("message-window").text("Error retrieving messages.");
            }
        })
    }

    $(function () {
        CheckMessages();

        $("#message-form").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("PostMessage", new { id = ViewBag.Team.Id})',
                data: $(this).serialize(),
                datatype: 'json',
                success: function (response) {
                    $("#message").val("");
                    $("#message-window").html(response);
                },
                error: function (response) {
                    console.log(response);
                    $("#message-window").text("Unable to send message.");
                }
            })
        })
    })
</script>

<div id="message-window">Retrieving Team Messages...</div>
<form class="row" id="message-form">
    @*<div class="col m1 hide-on-small-only">
        @if (ViewBag.User.Image != null)
        {
            string playerImage = String.Format($"data:image/gif;base64,{Convert.ToBase64String(ViewBag.User.Image)}");
            <img class="prefix" src="@playerImage" />
        }
    </div>*@
    <div class="input-field col s10">
        <input type="text" id="message" name="message" placeholder="Enter Message" />
    </div>
    <div class="col s2 m1">
        <button type="submit" class="btn blue lighten-2">Send</button>
    </div>
</form>