@{
    ViewData["Title"] = $"Schedule - {ViewBag.Team.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using RecTeam.Models
@model List<Game>

<h1><a href="/Teams/Details/@ViewBag.Team.Id">@ViewBag.Team.Name</a></h1>
<hr />

<h4>Team Schedule</h4>
<div class="row">
    <div class="col s3">
        <h5>Date</h5>
    </div>
    <div class="col s3">
        <h5>Time</h5>
    </div>
    <div class="col s3">
        <h5>Location</h5>
    </div>
    <div class="col s3">
        <h5>Available Players</h5>
    </div>
</div>
<ul class="collapsible popout" data-collapsible="accordion">
    @foreach (Game game in Model)
    {
        string minutes = game.Date.Minute.ToString();
        while (minutes.Length < 2)
        {
            minutes = "0" + minutes;
        }
        string time = (game.Date.Hour % 12).ToString() + ":" + minutes;
        string playerCount = $"{game.Id}-player-count";

        <li>
            <div class="collapsible-header row">
                <div class="col s12 m3">
                    <p>@game.Date.Month / @game.Date.Day / @game.Date.Year</p>
                </div>
                <div class="col s12 m3">
                    <p>@time</p>
                </div>
                <div class="col s12 m3">
                    <p>@game.Location</p>
                </div>
                <div class="col s12 m3">
                    <p id="@playerCount">@game.AvailablePlayers.Count</p>
                </div>
            </div>
            <div class="collapsible-body row">
                @foreach (Availability teammate in game.AvailablePlayers)
                {
                    <div class="col s12 m6">
                        <span class="col s6">@teammate.AppUser.Name</span>
                        @if (teammate.AppUser.UserName == User.Identity.Name)
                        {
                            string availability = $"{teammate.Id}-availability";
                            <div class="switch col s6">
                                <label>
                                    Unavailable
                                    @if (teammate.Available)
                                    {
                                        <input id="@availability" type="checkbox" name="Available" checked>
                                    }
                                    else
                                    {
                                        <input id="@availability" type="checkbox" name="Available">
                                    }
                                    <span class="lever"></span>
                                    Available
                                </label>
                            </div>
                            <script>
                                $(function () {
                                    $("#" + "@availability").change(function()
                                    {
                                        var sliderPosition = $(this).prop("checked");
                                        $.ajax({
                                            type: "PATCH",
                                            url: "@Url.Action("UpdateAvailability", "Teams")",
                                            data: { id : @ViewBag.Team.Id, teammate : @teammate.Id, playerAvailability : sliderPosition },
                                            success: function (response) {
                                                console.log(response);
                                                $("#" + "@playerCount").text(response);
                                            },
                                            error: function(response){
                                                console.log(response);
                                            }
                                        })
                                    })
                                })
                            </script>
                        }
                        else
                        {
                            <div class="switch col s6">
                                <label>
                                    Unavailable
                                    @if (teammate.Available)
                                    {
                                        <input disabled type="checkbox" name="Available" checked>
                                    }
                                    else
                                    {
                                        <input disabled type="checkbox" name="Available">
                                    }
                                    <span class="lever"></span>
                                    Available
                                </label>
                            </div>
                        }
                    </div>
                }
            </div>
        </li>
    }
</ul>