@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ArenaRoster.Models
@model List<Team>

@if (User.Identity.IsAuthenticated)
{
    <h1>@User.Identity.Name Account Settings</h1>
    <hr />
    <div class="row">
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn green" value="Log out" />
        }
        @Html.ActionLink("Edit Account Information", "Edit")
    </div>
    <div class="row">
        @foreach(Team team in Model)
        {
            <div class="card col s12 m4">
                <div class="card-content">
                    <p class="card-title">@Html.ActionLink(team.Name, "Details", "Teams", new { id = team.Id })</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1>Login or Register a New Account</h1>
    <hr />
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}