@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ArenaRoster.Models
@model ApplicationUser

<script>
    $(function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetTeams")',
            success: function (result) {
                $("#user-teams").html(result);
            },
            error: function (result) {
                $("#user-teams").html("We ran into an error getting your teams.  Please try again later.")
                console.log(result);
            }
        })
    })
</script>

@if (User.Identity.IsAuthenticated)
{
    <h1>@Model.Name Account Settings</h1>
    <div class="row">
        <div class="col s12 center" id="account-buttons">
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <input type="submit" class="not-button" value="Log out" />
            }
            &nbsp;|&nbsp;
            @Html.ActionLink("Edit Account Information", "Edit")
        </div>
    </div>
    <hr />
    <h2>My Teams</h2>
    <hr />
    <div class="row" id="user-teams">Getting your teams...</div>
}
else
{
    <h1>Login or Register a New Account</h1>
    <hr />
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}