@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ArenaRoster.ViewModels

@model LoginViewModel

<div class="navbar-fixed">
    <nav class="green darken-2">
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down"></ul>
            <a href="/" class="brand-logo center hide-on-med-and-down">ArenaRoster</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/Users/Create">Add New User</a></li>
                <li><a href="/Teams/Create">Add New Team</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/Account">@User.Identity.Name's Account</a></li>
                }
                else
                {
                    <li><a href="/Account">Login</a></li>
                }
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <h1>Log in with your account</h1>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)

        <input type="submit" value="Log in" class="btn btn-default" />
    }
</div>