@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ArenaRoster.ViewModels

@model RegisterViewModel

<div class="navbar-fixed">
    <nav class="green darken-4">
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down"></ul>
            <a href="/" class="brand-logo center hide-on-med-and-down">ArenaRoster</a>
            <ul class="right hide-on-med-and-down">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/Teams/Create">Add New Team</a></li>
                    <li><a href="/Account">@User.Identity.Name's Account</a></li>
                }
                else
                {
                    <li><a href="/Account">Login</a></li>
                }
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <h1>Register a new user</h1>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)

        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)

        <input class="btn green" type="submit" value="Register" />
    }
</div>