<!DOCTYPE html>

<html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="green darken-4">
            <div class="nav-wrapper">
                @*<ul class="left hide-on-med-and-down">
                    <li>@Html.ActionLink("Roster", "Details", new { id = Model.Id })</li>
                    <li>@Html.ActionLink("Schedule", "Schedule", new { id = Model.Id })</li>
                    @if (true)
                    {
                        <li>@Html.ActionLink("Team Admin", "Admin", new { id = Model.Id })</li>

                    }
                </ul>*@
                <a href="/" class="brand-logo center hide-on-med-and-down">ArenaRoster</a>
                <ul class="right hide-on-med-and-down">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Teams/Create">Add New Team</a></li>
                        <li><a href="/Account">@User.Identity.Name's Account</a></li>
                    }
                    else
                    {
                        <li><a href="/Account">Login</a></li>
                    }
                </ul>
            </div>
        </nav>
    </div>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="page-footer green darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">ArenaRoster</h5>
                    <p class="grey-text text-lighten-4"></p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Other Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Levi Bibo
            </div>
        </div>
    </footer>
</body>
</html>
